@import url('izitoast/dist/css/iziToast.min.css');

.form {
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

fieldset {
  margin: 0;
}
